.container-checkout {
    width: 100%;
    height: auto;

    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    .container-checkout-left {
        width: 55%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
        margin: 0px 0px;
        p {
            font-weight: 600;

            font-size: 20px;
            padding-bottom: 00px;
        }
        .container-checkout-left-item:nth-child(5) {
            margin-bottom: 30px;
        }
        .container-checkout-left-item {
            width: auto;
            height: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            margin-bottom: 20px;

            .container-checkout-left-item-two {
                width: 45%;
                height: auto;
                display: flex;
                flex-direction: column;
                label {
                    margin-bottom: 10px;
                    font-size: 13px;
                    // font-weight: 600;
                    color: rgba(0, 0, 0, 0.782);
                }
                input {
                    height: 35px;
                    outline: none;
                    border: 1px solid #eaeaea;
                    border-radius: 5px;
                    padding-left: 10px;
                }
                select{
                    height: 35px;
                    outline: none;
                    border: 1px solid #eaeaea;
                    border-radius: 5px;
                    cursor: pointer;
                }
            }
            .container-checkout-left-item-one {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                label {
                    margin-bottom: 10px;
                    font-size: 14px;
                    // font-weight: 600;
                }
                input {
                    width: 100%;
                    height: 35px;
                    outline: none;
                    border: 1px solid #eaeaea;
                    border-radius: 5px;
                    padding-left: 10px;
                }
            }
            .container-checkout-left-item-there {
                width: 30%;
                height: auto;
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 10px;
                    font-size: 13px;
                    // font-weight: 600;
                    color: rgba(0, 0, 0, 0.809);
                }
                input {
                    width: 100%;
                    height: 35px;
                    outline: none;
                    border: 1px solid #eaeaea;
                    border-radius: 5px;
                    padding-left: 10px;
                }
            }
        }

        .container-checkout-left-item-check-layout {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;

            padding-bottom: 20px;
            margin-top: 20px;
            border-bottom: 1px solid #9f9f9f;
            margin-bottom: 20px;
            .container-checkout-left-item-check {
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
                input {
                    margin-right: 5px;
                    cursor: pointer;
                }
                label {
                    line-height: 2px;
                }
            }
        }
        .container-checkout-left-item-radio-layout {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            span {
                margin-bottom: 10px;
                width: 100%;
                height: auto;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: pointer;
                input {
                    margin-right: 5px;
                    cursor: pointer;
                }
                line-height: 2px;
            }

            p {
                margin: 0;
                padding-bottom: 10px;
            }
            .container-checkout-left-item-radio {
                width: 100%;
                display: flex;
                flex-direction: column;
            }
        }
        .container-checkout-left-item-sb {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            padding-bottom: 30px;

            margin-top: 20px;
            input {
                width: 100%;
                height: 40px;
                background-color: #426de5;
                color: white;
                outline: none;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
    .container-checkout-right {
        width: 30%;
        height: auto;
        display: flex;
        flex-direction: column;
        p {
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 0px;
        }
        .container-checkout-right-cart {
            width: 100%;
            height: auto;
            // box-shadow: 0px 0px 1px 2px #f3f3f5;
            border: 1px solid #eaeaea;
            padding: 10px;
        }
        .container-checkout-right-cart-item {
            width: 100%;
            height: auto;
            padding: 10px 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            img {
                width: 70px;
                height: 70px;
                margin-right: 10px;
            }
            div {
                width: auto;
                display: flex;
                flex-direction: column;
            }
            label:nth-child(1) {
                font-weight: 600;
                width: 100%;
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        .container-checkout-right-cart-item-sb {
            width: 100%;
            height: auto;
            padding: 10px 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            label:nth-child(1) {
                font-weight: 600;
                width: 100%;
                font-size: 18px;
                font-family: Arial, Helvetica, sans-serif;
            }
            input[type="submit"] {
                outline: none;
                height: 30px;
                width: 70px;
                border-radius: 5px;
                background-color: #426de5;
                color: white;
                cursor: pointer;
                border: none;
            }
            input[type="text"] {
                outline: none;
                border: 1px solid #9f9f9f;
                height: 30px;
                width: auto;
                padding-left: 5px;
                border-radius: 5px;
                background-color: #9f9f9f23;
            }
        }
    }
}

$res_1111: "only screen and (max-width: 1111px)";
@mixin responsive_1111() {
    @media #{$res_1111} {
        @content;
    }
}
@include responsive_1111() {
    .container-checkout {
        .container-checkout-right {
            width: 35%;
        }
    }
}


$res_950: "only screen and (max-width: 950px)";
@mixin responsive_950() {
    @media #{$res_950} {
        @content;
    }
}
@include responsive_950() {
    .container-checkout {
        flex-direction: column-reverse;
        .container-checkout-left {
            width: 100%;
            height: 100%;
            margin-top: 20px;
            p {
                padding-bottom: 10px;
            }
        }
        .container-checkout-right {
            width: 100%;
            height: 100%;
            clear: both;
            margin-top: 20px;
            p {
                padding-bottom: 10px;
            }
        }
    }
}



$res_500: "only screen and (max-width: 500px)";
@mixin responsive_500() {
    @media #{$res_500} {
        @content;
    }
}
@include responsive_500() {
    .container-checkout .container-checkout-left .container-checkout-left-item {
        flex-direction: column;
    }
    .container-checkout .container-checkout-left .container-checkout-left-item .container-checkout-left-item-there {
        width: 100%;
    }
    .container-checkout .container-checkout-left .container-checkout-left-item .container-checkout-left-item-two {
        width: 100%;
    }
    .container-checkout
        .container-checkout-left
        .container-checkout-left-item-check-layout
        .container-checkout-left-item-check
        label {
        line-height: 1;
    }
}
