.container-news{
    width: 100%;
    height: 90px;
    background-color: #F9D300;
    margin-top: 50px;
    .container-news-layout{
        width: 100%;
        height: 90px;
        display: flex;
        justify-content: space-between;
        .container-news-layout-left{
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            p{
                font-size: 25px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                letter-spacing: 1px;
                margin-left: 10px;
            }
        }
        .container-news-layout-right{
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .input-text{
                width: 320px;
                height: 45px;
                border-radius: 30px;
                outline: none;
                border: none;

                padding-left: 20px;
            }
            .input-submit{
                width: 70px;
                height: 45px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                outline: none;
                border: none;
                margin-left: -50px;
                background-color: #000000;
                color: white;
                font-size: 14px;
                cursor: pointer;
                text-align: center;
            }
        }
    }
}


$res_1000: "only screen and (max-width: 1000px)";
@mixin responsive_1000() {
    @media #{$res_1000} {
        @content;
    }
}
@include responsive_1000() {
    .container-news{
        height: auto;
        .container-news-layout{
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding-bottom: 10px;
            .container-news-layout-left{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                p{
                    text-align: center;
                }
            }
            .container-news-layout-right{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}


$res_700: "only screen and (max-width: 700px)";
@mixin responsive_700() {
    @media #{$res_700} {
        @content;
    }
}
@include responsive_700() {
    .container-news .container-news-layout .container-news-layout-left p {
        font-size: 16px;

    }
}


$res_500: "only screen and (max-width: 500px)";
@mixin responsive_500() {
    @media #{$res_500} {
        @content;
    }
}
@include responsive_500() {
    .container-news .container-news-layout .container-news-layout-left p {
        font-size: 13px;
    }
}
