.product-container-slider-main{
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
    .title-p{
        font-size: 24px;
        border-bottom: 1px solid #939393;
    }
    padding-bottom: 20px;
}


.SwiperSlide-slide{
    width: 330px;
    height: 370px;
    .product-item-home{
        width: 100%;
        height: 100%;
    }
}
.paper-slider{
    width: 220px;
    height: 280px;
    display: block;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    .product-name-home-slider{
        font-size: 14px;
       text-align: left;
       font-weight: 600;
       color: #00417E;
       height: 35px;
       overflow: hidden;
       margin: 0;
    }
    .product-img-home-slider{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 155px;
        margin-top: 10px;
        img{
            width: 70%;
            height:90%;
        }
    }
    .price-product-slider{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        margin-top: 5px;
        align-items: center;
        p{
            font-size: 13px;
            margin: 0;
        }
        p:nth-child(1){
            font-size: 16px;
            color: rgba(0, 0, 0, 0.837);
        }
        p:nth-child(2){
            color: #939393c7;
            margin-left: 10px;
            font-size: 12px;
        }
    }
    .star-product-home{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span{
            font-size: 13px;
            color: #939393;
        }
    }
}

// .paper-slider .product-img-home-slider img {
//     width: 100%;
//     height: 150px;
// }