.container-layout-login {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .layout-login {
        width: 400px;
        height: 100%;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        .title-page {
            margin: 0;
            padding-bottom: 20px;
            text-decoration: underline;
            letter-spacing: 1px;
        }
        label {
            padding: 12px 0px;
            font-weight: 550;
        }
        .text-input {
            width: 100%;
            height: 35px;
            border-radius: 15px;
            outline: none;
            border: 1px solid #939393;
            padding-left: 15px;
            &::placeholder{
                font-size: 13px;
                color: #939393;
            }
        }
        .sb-input {
            width: 100%;
            height: 35px;
            border-radius: 15px;
            margin-top: 30px;
            outline: none;
            border: none;
            background-color: #fed207;
            cursor: pointer;
            color: white;
            font-weight: 600;
        }
        .link-login {
            padding: 10px 0px;
        }
        .title-page-register {
            margin-top: 30px;
            font-weight: 550;
            font-size: 16px;
        }
        ul {
            width: 100%;
            height: auto;
            li {
                width: 100%;
                padding: 5px 0px;
                margin-left: 15px;
                list-style-type: none;
            }
        }
        span {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            margin-top: 10px;
            span {
                padding-left: 5px;
                display: block;
                font-weight: 600;
            }
            input {
                line-height: 40px;
                position: relative;
                display: block;
            }
        }
    }
}
$res_500: "only screen and (max-width: 500px)";
@mixin responsive_500() {
    @media #{$res_500} {
        @content;
    }
}
@include responsive_500() {
    .container-layout-login {
        .layout-login {
            width: 100%;
        }
    }
}
